/* Page */

#page {
	padding: 0px 0px 0px 0px;
}

/* Content */

#content {
	float: left;
	width: 620px;
	padding: 20px 0px 0px 0px;
        background: #FFFFFF right 40px;
}

.post {
	overflow: hidden;
}

.post .title {
	padding: 0px 0px 30px 0px;
	letter-spacing: -3px;
}

.post .title a {
	border: none;
	text-transform: lowercase;
	color: #7D7764;
}

.post .meta {
	margin-bottom: 30px;
	padding: 0px;
	text-align: left;
	font-size: 16px;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 10px;
	text-align: justify;
}

.links {
	padding-top: 20px;
	margin-bottom: 30px;
}


/* Sidebar */

#sidebar {
	float: right;
	width: 320px;
	margin: 0px;
	padding: 20px 0px 0px 20px;
	color: #222222;
        background: #AAAAAA;
}

#sidebar h3 {
	padding: 0px 0px 30px 0px;
	letter-spacing: -3px;
        color: #000000;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

#sidebar p {
	text-align: center;
}


/* Three Column Footer Content */

#footer-content {
	color: #E2B8C6;
}

#footer-bg {
	overflow: hidden;
	padding: 30px 0px;
}

#footer-content h2 {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	letter-spacing: -2px;
	text-shadow: 1px 2px 0px #861F40;
	text-transform: lowercase;
	font-size: 36px;
	color: #FFFFFF;
}

#column1 {
	float: left;
	width: 380px;
	margin-right: 20px;
}

#column2 {
	float: left;
	width: 400px;
}

#column3 {
	float: right;
	width: 180px;
}





.box1 {
	overflow: hidden;
	height: 300px;
}




#box1 {
	margin-bottom: 30px;
}