body {
  margin: 0;
  padding: 0;
  background: #bbdefb;
  color: #000000;
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  color: #000000;
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 2.8em;
}

h3 {
  font-size: 1.6em;
}

p,
ul,
ol {
  margin-top: 0;
  line-height: 180%;
}

a {
  text-decoration: none;
}

#wrapper {
  overflow: hidden;
  background-color: #FFFFFF;
}

.container {
  margin: 0px auto;
  width: 1000px;
}

/* Header */
#header {
  margin: 0 auto;
  padding: 0px 20px;
  width: 1000px;
  height: 140px;
}

/* Logo */
#logo {
  float: left;
  margin: 0;
  padding: 0;
  width: 600px;
  color: #000000;
}

#logo h1 {
  padding: 40px 0px 0px 0px;
  text-transform: uppercase;
  letter-spacing: -2px;
  font-size: 3.8em;
}

#logo p {
  margin-top: -10px;
  padding: 0px 0px 0px 5px;
  color: #FFFFFF;
  font-size: 22px;
}

#logo p a {
  color: #FFFFFF;
}

#logo a {
  border: none;
  background: none;
  color: #FFFFFF;
  text-decoration: none;
}

/* Menu */
#menu {
  float: right;
  margin: 0 auto;
  padding: 0;
  width: 400px;
  height: 90px;
}

#menu ul {
  float: right;
  margin: 0;
  padding: 65px 0px 0px 0px;
  list-style: none;
  line-height: normal;
}

#menu li {
  float: left;
}

#menu a {
  display: block;
  margin-right: 1px;
  padding: 10px 0px 15px 30px;
  border: none;
  color: #000;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 300;
  font-size: 20px;
}

#menu a:hover,
#menu .current_page_item a {
  color: #FFFFFF;
  text-decoration: none;
}

/* Page */
#page {
  padding: 0px 0px 0px 0px;
}

/* Footer */
#footer {
  margin: 0 auto;
  padding: 0px 0px 0px 0px;
  height: 100px;
}

#footer p {
  margin: 0;
  padding-top: 10px;
  color: #82516F;
  text-align: center;
  line-height: normal;
}

#footer a {
  color: #82516F;
}

.list-style1 {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.list-style1 li {
  padding: 7px 0px 7px 0px;
  border-top: 1px dashed #E7E2DC;
}

.list-style1 .first {
  padding-top: 0px;
  border-top: none;
}

.list-style1 a {
  color: #000;
}

.list-style2 {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.list-style2 li {
  padding: 7px 0px 7px 0px;
}

.list-style2 a {
  color: #000000;
}

.list-style2 a:hover {
  color: #C76485;
}

.list-style2 .first {
  padding-top: 0px;
  background: none;
}
